<div class="container" style="text-align: center">
  <div class="wrapper">
    <form class="form-signin">
      <h2 class="form-signin-heading">비밀 번호 찾기</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name) , html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, input_html: { autocomplete: "email", class: "form-control", placeholder: "이메일" }, required: true, autofocus: true, label: false %>

      <div class="form-actions">
        <%= f.button :submit, "이메일로 비밀번호 전송", class: "btn btn-lg btn-primary btn-block", id: "email-password"%>
        <hr>
        <%= f.button :submit, "로그인", class: "btn btn-lg btn-primary btn-block"%>

        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "회원가입", new_registration_path(resource_name), class: "btn btn-lg btn-primary btn-block", id: "new-registrantion" %>
        <% end %>
      </div>
      <% end %> <!-- simple_form_for do |f| -->
    </form>
  </div>
</div>


<!-- <%= render "devise/shared/links" %> -->
