<p id="notice"><%= notice %></p>

<div style="background-color: rgba(240, 240, 241, 0.49);">
  <div class="container">


      <div class="row">
        <div class="col-8">
          <div class="form-group">
            <p>대표 이미지</p>
            <% if @post.image? %>
              <%= image_tag @post.image.url(:thumb) %>
            <% end %>
          </div>

          <div class="form-group">
                <p>추가 이미지</p>
                <% @post_attachments.each do |p| %>
                  <%= image_tag p.avatar_url(:thumb) %>
                  <%= link_to "수정하기", edit_post_attachment_path(p) %>
                <% end %>
          </div>
        </div> <!-- col-8 -->

        <div class="col-4" style="border-left: 1px solid rgba(201,201,201,0.8);">
          <div class="form-group">
            <p>레시피 이름</p>
            <%= @post.title %>
          </div>

          <div class="form-group">
            <p>레시피 종류</p>
            <%= @post.category.name %>
          </div>

          <div class="form-group">
            <p>레시피 온도</p>
            <%= @post.temperature %>
          </div>

          <div class="form-group">
            <p>레시피 시간</p>
            <%= @post.time %>
          </div>
          <p>
            <strong>Like:</strong>
            <%= @post.likes.size %> 명이 좋아합니다.
          </p>

          <p>
            <% if Like.find_by(user_id: current_user.id, post_id: @post.id) %>
              <%= link_to("좋아요 취소","/likes/#{@post.id}/destroy",{method: "post"}) %>
            <% else %>
              <%= link_to("좋아요", "/likes/#{@post.id}/create", {method: "post"}) %>
            <% end %>
          </p>
        </div> <!-- col-4 -->
      </div> <!-- row -->

      <div class="form-group">
        <p>레시피 코멘트</p>
        <%= render_with_hashtags(@post.description) %>
      </div>


      <div class="form-group">
        <p>레시피 재료</p>
        <% for @ingredient in @post.ingredients %>
          <li><%= @ingredient.content %></li>
        <% end %>
      </div>


      <div class="form-group">
        <p>레시피 방법</p>
        <% for @step in @post.steps %>
          <li><%= @step.direction %></li>
        <% end %>
      </div>

      <%= render partial: "comments/template", locals: {commentable: @post, new_comment: @comment} %>

      <div style="float: left">
        <%= link_to '목록', posts_path %>
        <% if can? :update, @post %>
        <%= link_to '수정', edit_post_path(@post) %>
        <% end %>
        <% if can? :destroy, @post %>
        <%= link_to '삭제', @post, method: :delete, method: :delete, data: { confirm: '진짜로 지울건가요???' } %>
        <% end %>
      </div>

  </div> <!-- container -->
</div> <!-- background-color -->
